<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign_up page</title>
</head>
<div align="center">
<body>
<h1>Welcome to the Register Page, Enter required fields  and register</h1>
<form action="add_user" method="post">
    <label for="usrname">Username</label><br><br>
    <input type="text" name="username" id="usrname"><br><br>

    <label for="mail_id">Mail_id</label><br><br>
    <input type="email" name="mail_id" id="mail_id"><br><br>

    <label for="password">Password</label><br><br>
    <input type="password" name="password" id="password"><br><br>

    <button type="submit">Submit</button>
</form>
</div>
</body>
</html>